body {
    background-color: blue;
    margin: 0;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex-item {
    height: 400px;
    width: 400px;
    margin: 20px; /* Reduced margin */
}

.lebron .buttonstyle, .steph .buttonstyle, .jordan .buttonstyle {
    background-size: cover; /* Ensure background images cover the button */
    background-repeat: no-repeat;
    height: 100%; /* Full height of the parent container */
    width: 100%; /* Full width of the parent container */
}

.buttonstyle {
    height: 400px;
    width: 400px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .flex-item {
        height: 200px; /* Smaller height for mobile */
        width: 300px; /* Smaller width for mobile */
        margin: 10px; /* Smaller margin for mobile */
    }

    .buttonstyle {
        height: 200px;
        width: 200px;
    }

    .lebron .buttonstyle {
        background-image: url("../images/lebron.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .steph .buttonstyle {
        background-image: url("../images/steph.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .jordan .buttonstyle {
        background-image: url("../images/jordan.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
